@import './../card/card.scss';

.answer {
  background-color: #44BBA4;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.answer__card {
  @extend %card;
  cursor: pointer;
}

.answer__card--correct {
  @extend %card--correct;
}

.answer__card--incorrect {
  @extend %card--incorrect;
}
